
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --iriscolor:#4D5AE5;
    --navyblue: #2E2F42;
    --navcolor:#000000;
    --oceancolor:#404bbf;
    --whitecolor:#ffffff;
    --slatecolor: #434455;
    --cornflowercolor:#E7E9FC;
    --cloudcolor:#f4f4fd;
    --greencolor:#31D0AA;
    --lightslatecolor:#8e8f99;
    --navybluemodalcolor:#2E2F42;
    --greycolor:#2E2F42;
    --dairycolor:#fcfcfc;
  }


body{
 
}

img{
display:block;
max-width: 100%;
height:auto; 

}
h1, h2, h3, h4, h5, h6, p, ul{
    margin:0;
    padding:0;
}

a{ 
    text-decoration: none;
    font-style: normal;
    font-weight:400;
    color:inherit;
 }

  

.nav-pagelogo{
    font-family: 'Raleway';
    font-size: 18px;
    letter-spacing: 0.54px;
    line-height:  21px;
    font-weight: 800;
    color:var(--iriscolor);
    text-transform:uppercase;
    text-decoration:none;
}
.nav-pagelogo-style{
    color:var(--navyblue) ;
}


.nav-list{
    font-family:inherit;
    font-size:16px;
    font-weight:500;
    line-height: 24px;
    color: var(--navyblue);
    text-decoration:none;
    letter-spacing:0.32px;
}

.nav-list:hover,
 .nav-list:focus{
    color: var(--oceancolor);
    
}


.address-list-item{
    color:var(--slatecolor);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px; 

}

.address-list-item:hover,
 .address-list-item:focus{
    color: var(--oceancolor);
    
}


.main-caption {
    background-color:var(--navyblue); 
}



.main-caption-title {
    font-size: 56px;
    font-weight:700;
    line-height: 60px;
    letter-spacing: 0.32px; 
    text-align: center;
    color:var(--whitecolor);
    
}

.main-caption-button{
    font-family:inherit;
    font-size:16px;
    font-weight:500;
    line-height: 24px;
    color:var(--whitecolor);
    text-decoration:none;
    letter-spacing:0.64px;
    background-color:var(--iriscolor);
    outline: none;
    border: unset;
    padding: 16px 32px;
    display: inline-flex;
    cursor:pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
}

.main-caption-button:hover,
.main-caption-button:focus{
    background-color: var(--oceancolor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    border-radius: 4px; 

}

.header2{  /* header 2 */
    text-align: center;
    color: var(--navyblue);
    font-size:36px;
    font-weight:700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize; 

}

.about-list-header,
 .team-list-name, 
 .product-items-list-header{  /* header 3*/
    font-size:20px;
    font-weight:500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}


.footer-logo-web{
    font-family: 'Raleway';
    font-size: 18px;
    letter-spacing: 0.54px;
    line-height:  21px;
    font-weight: 800;
    color:var(--iriscolor);
    text-transform:uppercase;
    text-decoration:none;
}


.footer-logo{
    background-color: var(--navyblue);
}


.footer-logo-studio,
 .footer-logo-item {
color:var(--cloudcolor);
}


.solutions-filter-list-item{
justify-content: center;
align-items: center; 
/*display: flex;*/

}

.solutions-filter-list-item-button, 
.solutions-filter-list-item-button-all {
    /* Portfolio Button Text */
color: var(--iriscolor); 
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px; 
padding: 12px 24px;
background-color:var(--cloudcolor);
outline:unset;
border: 1px solid var(--cornflowercolor);
border-radius: 4px;
cursor:pointer;
}

.solutions-filter-list-item-button-all{
color: var(--whitecolor); 
background-color:var(--oceancolor);
border: unset;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
0px 2px 1px 0px rgba(0, 0, 0, 0.08),
 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}

.solutions-filter-list-item-button:hover{
    color:var(--whitecolor);
    background-color: var(--oceancolor);
    border-color: var(--oceancolor) ;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
    0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.rice {

padding: 200px;
flex-grow: initial;
flex-wrap:flex;
text-align: center;

}
.rice-jasmine{
text-align: center;
}