
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --iriscolor:#4D5AE5;
    --navyblue: #2E2F42;
    --navcolor:#000000;
    --oceancolor:#404bbf;
    --whitecolor:#ffffff;
    --slatecolor: #434455;
    --cornflowercolor:#E7E9FC;
    --cloudcolor:#f4f4fd;
    --greencolor:#31D0AA;
    --lightslatecolor:#8e8f99;
    --navybluemodalcolor:#2E2F42;
    --greycolor:#2E2F42;
    --dairycolor:#fcfcfc;
  }


body{
    font-family: 'Roboto' ,sans-serif;
    font-size:16px;
    font-weight:400;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style:normal;
    color:var(--slatecolor);
}

p {
    font-family:'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
    color: var(--slatecolor);
}

img{
display:block;
max-width: 100%;
height:auto; 

}
h1, h2, h3, h4, h5, h6, p, ul{
    margin:0;
    padding:0;
}

a{ 
    text-decoration: none;
    font-style: normal;
    font-weight:400;
    color:inherit;
 }

  

.nav-pagelogo{
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.54px;
    line-height:  21px;
    font-weight: 800;
    color:var(--iriscolor);
    text-transform:uppercase;
    text-decoration:none;
}
.nav-pagelogo-style{
    color:var(--navyblue) ;
}

.nav-link {
    color: var(--navyblue);

    font-family:inherit;
    font-size:16px;
    font-style: normal;
    font-weight:500;
    line-height: 24px;
    
    text-decoration:none;
    letter-spacing:0.32px;
}

.nav-link:hover,
 .nav-link:focus{
    color: var(--oceancolor);
    
}


.address-link{
    color:var(--slatecolor);
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
   

}
.address-link:hover,
 .address-link:focus{
    color: var(--oceancolor);
    
    
}


.hero {
    background-color:var(--navyblue); 
}



.hero-title {
    font-size: 56px;
    font-weight:700;
    line-height: 60px;
    letter-spacing: 0.32px; 
    text-align: center;
    color:var(--whitecolor);
    
}

.hero-button{
    font-family:inherit;
    font-size:16px;
    font-weight:500;
    line-height: 24px;
    color:var(--whitecolor);
    text-decoration:none;
    letter-spacing:0.64px;
    background-color:var(--iriscolor);
    outline: none;
    border: unset;
    padding: 16px 32px;
    display: inline-flex;
    cursor:pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
}

.hero-button:hover,
.hero-button:focus{
    background-color: var(--oceancolor);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    border-radius: 4px; 

}

.about-title,
 .solution-title, 
 .team-title
 {  /* header 2 */
    text-align: center;
    color: var(--navyblue);
    font-size:36px;
    font-weight:700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize; 

}

.about-header,
 .team-name, 
 .product-name {   /* header 3*/
    color: var(--navyblue);
    font-family:inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}



.about-description,
.product-description, 
.team-job-description {
    font-family: inherit;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--slatecolor);
}


.footer-logo-web,
.footer-logo-studio{
    font-family: 'Raleway';
    font-size: 18px;
    letter-spacing: 0.54px;
    line-height:  21px;
    font-weight: 800;
    color:var(--iriscolor);
    text-transform:uppercase;
    text-decoration:none;
}
.footer-logo{
    background-color: var(--navyblue);
}


.footer-logo-studio {
color:var(--cloudcolor);
}
 .footer-logo-description {
color: var(--cloudcolor);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
 }


.solutions-filter-list-item{
justify-content: center;
align-items: center; 
/*display: flex;*/

}

.solutions-filter-list-item-button, 
.solutions-filter-list-item-button-all {
    /* Portfolio Button Text */
color: var(--iriscolor); 
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px; 
padding: 12px 24px;
background-color:var(--cloudcolor);
outline:unset;
border: 1px solid var(--cornflowercolor);
border-radius: 4px;
cursor:pointer;
}

.solutions-filter-list-item-button-all{
color: var(--whitecolor); 
background-color:var(--oceancolor);
border: unset;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
0px 2px 1px 0px rgba(0, 0, 0, 0.08),
 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}

.solutions-filter-list-item-button:hover{
    color:var(--whitecolor);
    background-color: var(--oceancolor);
    border-color: var(--oceancolor) ;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
    0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
